@media only screen and (max-width:720px) {
    #error {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url("../img/error404.png");
        background-attachment: fixed;
        background-position: center;
        background-size: 200% 50%;
        background-repeat: no-repeat;
    }
    #regresarNotfound {
        position: absolute;
        left: 35%;
        right: 35%;
        top: 70%;
        bottom: auto;
    }
}

@media only screen and (min-width:720px) {
    #error {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url("../img/error404.png");
        background-color: blue;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #regresarNotfound {
        position: absolute;
        left: 45%;
        right: 45%;
        top: 70%;
        bottom: auto;
    }
}

#animation {
    /* transition: 5s; */
    /* transform: rotate(15deg); */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    animation-name: animacion;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes animacion {
    0% {
        top: 100%;
        left: 0%;
        background-color: red;
    }
    25% {
        top: 200%;
        left: 0%;
        background-color: aqua;
    }
    50% {
        top: 200%;
        left: 30%;
        background-color: yellow;
    }
    75% {
        top: 100%;
        left: 30%;
        background-color: black;
    }
    100% {
        top: 100%;
        left: 0%;
        background-color: blue;
    }
}


/* aqui empieza el code */

*::selection {
    color: white;
    background-color: black;
    /* display: inherit;
    justify-content: center;
    align-items: center; */
    /* cursor: pointer; */
    cursor: progress;
    cursor: wait;
    /* cursor: no-drop; */
    /* cursor: none; */
    /* cursor: url(http://falconmasters.com/img/cursor.gif), auto; */
}

img {
    cursor: no-drop;
}

#el {
    width: 100px;
    min-height: 200px;
    background-color: aqua;
}

#el:hover {
    transform: rotateY(360deg);
    transition-duration: 5s;
}


/* #el:hover {
    filter: blur(50px);
    transform: scale(1, 2);
    transition-duration: 5s;
} */

#text {
    text-align: center;
}

#figure {
    margin: 0px auto;
    margin-bottom: 5px;
    width: 25px;
    height: auto;
    background-color: inherit;
    position: relative;
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

#text::before {
    content: 'Cargando...';
    font-size: 14.7px;
}

.elemento1 {
    width: 11px;
    height: 11px;
    background-color: red;
    border-radius: 50%;
    animation: colors;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.elemento2 {
    display: none;
    margin: auto auto;
    margin-bottom: 0px;
    /* margin-right: 0px; */
    vertical-align: bottom;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    animation: colors;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.elemento3 {
    margin: auto auto;
    margin-bottom: 0px;
    margin-right: 0px;
    vertical-align: bottom;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    animation: colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    0% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes colors {
    0% {
        background-color: red;
    }
    25% {
        background-color: orangered;
    }
    50% {
        background-color: yellow;
    }
    75% {
        background-color: green
    }
    100% {
        background-color: blue;
    }
}