<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Nickname</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Creacion</th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
        <template id="template">
            <tr>
                <td class="id"></td>
                <td class="name"></td>
                <td class="email"></td>
                <td class="nickname"></td>
                <td class="rol"></td>
                <td class="status"></td>
                <td class="create_date"></td>
            </tr>
        </template>
    </table>
</div>